<div class="country-details-container">
  <p class="details-label">
    Country Selected:
    <span>{{ countryDetails?.name }}</span>
  </p>
  <p class="details-label">
    Capital: <span>{{ countryDetails?.capitalCity }}</span>
  </p>
  <p class="details-label">
    Region: <span>{{ countryDetails?.region }}</span>
  </p>
  <p class="details-label">
    Income Level:
    <span>{{ countryDetails?.incomeLevel }}</span>
  </p>
  <p class="details-label">
    Latitude: <span>{{ countryDetails?.latitude }}</span>
  </p>
  <p class="details-label">
    Longitude: <span>{{ countryDetails?.longitude }}</span>
  </p>
</div>
